# copied from .gitignore (which this overrides)
/.env
/doc/

# additional exclusions irrelevant for published packages
/.browserslistrc
/.env.example
/.eslintrc.json
/.gitlab-ci.yml
/RELEASE.md
/browser-test.html
/jsdoc/
/test/
