# copied from .gitignore (which this overrides)
/.env

# additional exclusions irrelevant for published packages
/.browserslistrc
/.env.example
/.eslintrc.json
/.github/
/RELEASE.md
/browser-test.html
/test/
